@model BonsaiServer.Database.Plant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeavesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeavesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowersId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeavesColorString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeavesColorString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowersColorString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowersColorString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotColorString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotColorString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoilColorString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoilColorString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
