@model IEnumerable<BonsaiServer.Database.Plant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavesColorString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerColorString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirtColorString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotColorString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoilColorString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavesColorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowerColorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirtColorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotColorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoilColorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
